<a href="https://colab.research.google.com/github/day-dreamer-89/Crowdfunding_ETL/blob/main/Practice_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercise 1**
Exercise 1
Write a program to list all numbers that are divisible by 5 not divisible 13, between 1900 and 2030 (both included).
All numbers are displayed in a comma-separated sequence on a single line.

In [ ]:
# Create the list for valid numbers
numbers =[]
# Loop the range of number
for i in range(1900,2031):
  if i%5==0 and i%13!=0:
    numbers.append(i)
#print the result as comma-separated sequence on a single line.
print(",".join(map(str, numbers)))

1900,1905,1910,1915,1920,1925,1930,1935,1940,1945,1955,1960,1965,1970,1975,1980,1985,1990,1995,2000,2005,2010,2020,2025,2030

# Exercise 2
**Find and print the min and max of (20, 18, 23, 4, 8, 3, 19, 16, 45, 25). **

In [ ]:
#Initialize a list with the numbers (20, 18, 23, 4, 8, 3, 19, 16, 45, 25).
number_2 = [20, 18, 23, 4, 8, 3, 19, 16, 45, 25]
#Use the min() function to find the smallest number.
smallest_number = min(number_2)
#Use the max() function to find the largest number.
largest_number = max(number_2)
#Print the results.
print(f"Số lớn nhât: {largest_number}")
print(f"Số nhỏ nhất:{smallest_number}")

Số lớn nhât: 45
Số nhỏ nhất:3

# Exercise 3
**Find all square numbers smaller than 2030.**

In [ ]:
# Initialize an empty list to store square numbers.
square_numbers = []

#Use a for loop to iterate through numbers starting from 1. Compute their squares using ** 2.
for i in range(1,2030):
  square = i**2
  if square < 2030:
    square_numbers.append(square)
  else:
    break
print("Số bình phương:",square_numbers)

Số bình phương: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025]

# Exercise 4
Find all pairs of numbers with an even product
Description:
Given two lists of integers list1 and list2.

◦	Find all pairs of numbers (x,y) that x*y is even.

◦	Skip pairs if either number is odd (use continue).

◦	Stop immediately after finding 5 matching pairs (use break). **bold text**

In [ ]:
# define 2 list of interger
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
# create an empty list to store valid pair and tracking matches
pairs = []
count = 0
# nested loops to go through all combinations
for x in list1:
    for y in list2:
        if x % 2 != 0 or y % 2 != 0:  # Skip if either number is odd
            continue
        pairs.append((x, y))  # Add the valid pair
        count += 1
        if count == 5:  # Stop after 5 pairs
            break
print("Các cặp có giá trị:", pairs)

Các cặp có giá trị: [(2, 6), (2, 8), (2, 10), (4, 6), (4, 8)]

# Exercise 5
**Find and print out even numbers in (20, 18, 23, 4, 8, 3, 19, 16, 45, 25). Finally, print the sum of these even numbers.**

In [ ]:
# define the list
number_5 = [20, 18, 23, 4, 8, 3, 19, 16, 45, 25]

# create an empty list for even number
even_numbers = []
total = 0
# loop to check even number
for num in number_5:
    if num % 2 == 0:
      even_numbers.append(num)
      total += num
# print
print("số chắn:", even_numbers)
print("tổng của số chẵn:", total)

số chắn: [20, 18, 4, 8, 16]
tổng của số chẵn: 66

# Exercise 6
Count the number of pairs divisible by 3
Description:
◦	Given two lists of integers list1 and list2.
◦	Count all pairs of numbers (x,y) (x, y) (x,y) such that x+yx + yx+y is divisible by 3.
Print the total number of such pairs.

In [ ]:
# define 2 list
list1 = [1, 2, 3, 7,8 ,9]
list2 = [4, 5, 6, 10, 11, 12]
count = 0
# Use nested loops to go through all combinations
for x in list1:
    for y in list2:
        if (x + y) % 3 == 0:
            count += 1
print("số cặp chia hết cho 3:", count)

số cặp chia hết cho 3: 12

# Exercise 7
**Initialize a string my_string = "Python Programming". Print the following using formatted strings:**

* The length of the string.

* The string in uppercase.

* The string reversed.

In [ ]:
# Initialize the string
my_string = "Python Programming"

# Perform operations
length = len(my_string)
upper_string = my_string.upper()
reversed_string = my_string[::-1]

# Print the results
print(f"Length: {length}")
print(f"Uppercase: {upper_string}")
print(f"Reversed: {reversed_string}")

Length: 18
Uppercase: PYTHON PROGRAMMING
Reversed: gnimmargorP nohtyP

# Exercise 8
**Initialize a list my_list = [10, 20, 30, 40, 50].**
*Perform the following operations and print the results using formatted strings:*
* Print the first and last elements of the list.
* Add the element 60 to the end of the list and print the updated list.
* Remove the element at index 2 and print the updated list.

In [ ]:
# Initialize the list
my_list = [10, 20, 30, 40, 50]

# Print the first and last elements
print(f"First element: {my_list[0]}, Last element: {my_list[-1]}")

# Append 60
my_list.append(60)
print("Updated list after adding 60:", my_list)

# Remove the element at index 2
my_list.pop(2)
print("Updated list after removing index 2:", my_list)

First element: 10, Last element: 50
Updated list after adding 60: [10, 20, 30, 40, 50, 60]
Updated list after removing index 2: [10, 20, 40, 50, 60]

# Exercise 9
**Initialize a dictionary my_dict = "name": "John", "age": 25, "city": "New York"}.**
*Perform the following tasks and print the results using formatted strings:*
* Print the value of the "name" key.
* Add a new key-value pair "country": "USA" and print the updated dictionary.
* Update the "age" value to 26 and print the updated

In [ ]:
# Initialize the dictionary
my_dict = {"name": "John", "age": 25, "city": "New York"}

# Access and print the value of the "name" key
print(f"Name: {my_dict['name']}")

# Add a new key-value pair
my_dict["country"] = "USA"
print("Updated dictionary:", my_dict)

# Update the "age" value
my_dict["age"] = 26
print("Updated dictionary after changing age:", my_dict)

Name: John
Updated dictionary: {'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}
Updated dictionary after changing age: {'name': 'John', 'age': 26, 'city': 'New York', 'country': 'USA'}

**Exercise 10**
**Initialize a tuple my_tuple = (100, 200, 300, 400, 500).**
*Perform the following tasks and print the results using formatted strings:*
* Print the first and last elements of the tuple.
* Print the length of the tuple.
Check if the number 300 exists in the tuple and print the result using a formatted string.

In [ ]:
# Initialize the tuple
my_tuple = (100, 200, 300, 400, 500)

# Access and print the first and last elements
print(f"First element: {my_tuple[0]}, Last element: {my_tuple[-1]}")

# Find the length of the tuple
length = len(my_tuple)
print(f"Length of tuple: {length}")

# Check if 300 exists in the tuple
is_present = 300 in my_tuple
print(f"Is 300 in tuple? {is_present}")

First element: 100, Last element: 500
Length of tuple: 5
Is 300 in tuple? True