<a href="https://colab.research.google.com/github/day-dreamer-89/Crowdfunding_ETL/blob/main/Practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Exersise 1
result = (6+4)*2-32+12//4*(6 + 4)*2 - 3**2 + 12//4*(6+4)*2-32+12//4
print(f"The result is: {result}")

The result is: 70

In [5]:
# Exersice 2
a = 10
a += 5
print(f"The new value of a is: {a}")

The new value of a is: 15

In [6]:
# Exercise 3
x = 15
y = 20
is_less = x < y
print(f"Is x less than y? Result: {is_less}")

Is x less than y? Result: True

In [7]:
# Exercise 4
num = 23
remainder = num % 7
print(f"The remainder when num is divided by 7 is: {remainder}")

The remainder when num is divided by 7 is: 2

In [8]:
# Exercise 5
string = "Fresher Academy"
converted_string = string.replace('a', '@').replace('e', '3')
print(f"Converted string: {converted_string}")

Converted string: Fr3sh3r Ac@d3my

In [9]:
# Exercise 6
int_var = 8
float_var = 2.5
sum_val = int_var + float_var
difference = int_var - float_var
product = int_var * float_var
quotient = int_var / float_var

print(f"Sum: {sum_val}")
print(f"Difference: {difference}")
print(f"Product: {product}")
print(f"Quotient: {quotient}")

Sum: 10.5
Difference: 5.5
Product: 20.0
Quotient: 3.2

In [10]:
# Exercise 7
my_string = "Python Programming"
length = len(my_string)
uppercase_string = my_string.upper()
reversed_string = my_string[::-1]

print(f"Length of the string: {length}")
print(f"Uppercase string: {uppercase_string}")
print(f"Reversed string: {reversed_string}")

Length of the string: 18
Uppercase string: PYTHON PROGRAMMING
Reversed string: gnimmargorP nohtyP

In [11]:
# Exercise 8
my_list = [10, 20, 30, 40, 50]

# Print the first and last elements
print(f"First element: {my_list[0]}, Last element: {my_list[-1]}")

# Add the element 60 to the end of the list
my_list.append(60)
print(f"Updated list after adding 60: {my_list}")

# Remove the element at index 2
removed_element = my_list.pop(2)
print(f"Updated list after removing element at index 2 ({removed_element}): {my_list}")

First element: 10, Last element: 50
Updated list after adding 60: [10, 20, 30, 40, 50, 60]
Updated list after removing element at index 2 (30): [10, 20, 40, 50, 60]

In [12]:
# Exercise 9
my_dict = {"name": "John", "age": 25, "city": "New Yok"}

# Print the value of the "name" key
print(f"Name: {my_dict['name']}")

# Add a new key-value pair "country": "USA"
my_dict["country"] = "USA"
print(f"Updated dictionary after adding 'country': {my_dict}")

# Update the "age" value to 26
my_dict["age"] = 26
print(f"Updated dictionary after changing 'age' to 26: {my_dict}")

Name: John
Updated dictionary after adding 'country': {'name': 'John', 'age': 25, 'city': 'New Yok', 'country': 'USA'}
Updated dictionary after changing 'age' to 26: {'name': 'John', 'age': 26, 'city': 'New Yok', 'country': 'USA'}

In [13]:
# Exercise 10
my_tuple = (100, 200, 300, 400, 500)

# Print the first and last elements of the tuple
print(f"First element: {my_tuple[0]}, Last element: {my_tuple[-1]}")

# Print the length of the tuple
print(f"Length of the tuple: {len(my_tuple)}")

# Check if the number 300 exists in the tuple
exists = 300 in my_tuple
print(f"Does 300 exist in the tuple? {exists}")

First element: 100, Last element: 500
Length of the tuple: 5
Does 300 exist in the tuple? True